.footer {
	background:#191f21;
	padding: 50px 0;
	text-align: center;
	color: #fff;

	&__text {
	color: #4b5456;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 31px;
	}

	&__socials {
		&Link {
			width: 34px;
			height: 34px;
			background:#4b5456;
			display: inline-block;
			color: #191f21;
			border-radius: 50%;
			line-height: 36px;
			transition: .3s;
			margin: 0 5px;

			&:hover {
				color: #fff;
			}
		}
	}
}
