
.header__menu {
	position: relative;

	.fas fa-bars {
		width: 50px;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		cursor: pointer;

	}

	@media screen and (min-width: 992px) {
		display: none;
	}


	.header__menu-nav {
		position: absolute;
		width: 100px;
		display: flex;
		flex-direction: column;
		background-color: #252e30;
		top: 47px;
		right: 0;
	}
}

